body {
    font-family: 'Henny Penny';
    font-weight: x-large;
    text-align: center;
}

#form {
    width: 50%;
    margin: 0 auto;
}

#generate {
    display: block;
    margin: 0 auto;
    border: solid 2px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Henny Penny';
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#generate:hover {
    background-color: #000;
    color: #fff;
}

.form-row>label {
    font-size: 1.2em;
}

#time-div {
    font-size: 1.5em;
    margin: 10px 0;
}

input.start-values {
    display: inline-block;
    width: 50px;
    margin: 5px 10px;
    padding: 3px 6px;
    border: solid 2px black;
    font-family: 'Henny Penny';
    font-weight: x-large;
}

#board {
    margin: 0 auto;
    margin-top: 30px;
    display: none;
    border: 5px solid black;
    width: fit-content;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    background-size: contain;
}